.contentTotal {
  text-align: right;
  /* padding: 10px 20px; */
  font-size: 18px;
  font-weight: bold;
  border-top: 1px solid #ccc;
}
.btnFuncTabla > span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .header-buttons {
    justify-content: flex-start !important;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
  }
  .cobranza-header-content {
    position: relative;
    padding-top: 10px;
    padding-right: 70px;
  }

  .cobranza-header-content .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center !important;
    display: flex;
  }

  .cobranza-header-content .col-2 {
    position: absolute;
    right: 10px;
    top: 0;
    justify-content: flex-end;
    display: flex;
  }

  .headerTitle {
    font-size: 24px;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .btn-text {
    display: none;
  }

  .btn-icon {
    font-size: 22px;
    margin-right: 0;
  }
}
