.visor-wrapper {
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.visor-titulo {
  font-size: 1.8rem;
  color: #497b1a;
  margin-bottom: 0.5rem;
}

.visor-descripcion {
  font-size: 1rem;
  color: #444;
  margin-bottom: 1.2rem;
}

.visor-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}